ipython>=8.10
jupyterlab>=3.0
kedro==0.19.8
kedro-datasets==4.1.0
kedro-viz==9.2.0
kedro[jupyter]
notebook
pytest~=7.2
pytest-cov~=3.0
pytest-mock>=1.7.1, <2.0
ruff~=0.1.8
scikit-learn==1.5.1
fsspec==2023.12.2P